.venv
venv
venv/*

mlruns/*
/cnn_multitask_model.pth

/data

/airflow/logs/*
/airflow/data/*

/data/*

app_docker_web_predict/data/*
app_docker_web_predict/pycache__*/
app_docker_web_predict/__pycache__/*

*.png
*.csv
*.pdf